@media (min-width: 64em){
    #mobile-menu{
        display: none;
    }
}

/*  tablet & mobile */ 
@media (max-width: 63.9375em){
    .btn{
        padding: 15px 16px;
    }
    .contact-form .form-control{
        padding: 15px;
    }
    #footer .social-list{
        font-size: 32px;
    }
    #footer .social-list a{
        margin: 0px 8px;
    }
    #footer .copyright a{
        padding: 0 10px;
        display: inline-block;
    }
   
}

@media (min-width: 46.25em) and (max-width: 63.9375em){
    #mobile-menu{
        display: none;
    }
    .contact-inf{
        line-height: 2.0;
    }
   

}

@media (max-width: 46.1875em){
    .s-full-width,.s-col-full{
        width: 100% !important;
    }
    #header {
        overflow: hidden;
    }
    .s-mt-8{
        margin-top: 8px !important;
    }

    #header .mobile-menu-btn{
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav {
        display: block;
    }
    #nav > li{
        display: block;
    }
    #nav >li:first-child{
        display: inline-block   ;
    }
    #nav .subnav{
        position: initial;
        background: #333;
    }
    #nav .subnav a{
        color: #fff;
        padding: 0 41px;
    }
    #content .member-item{
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img{
        width: 60%;
    }

    #contact .contact-section{
        width: 100%;
    }
    #contact .contact-content{
        margin-left: 8px;
        margin-right: 8px;
        
    }
    #contact .contact-inf{
        margin-bottom: 48px;
        line-height: 1.8;
    }

    
}